[submodule "rustprereq"]
	path = rustprereq
	url = https://github.com/Neocryptoquant/Q3_25_Emmanuel_Abimbola
[submodule "solana-starter"]
	path = solana-starter
	url = https://github.com/Neocryptoquant/Q3_25_Emmanuel_Abimbola
